<h1>Edit story heyaa</h1>

<form id="edit-story" name="story">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="extract"> extract:</label>
    <input type="text" name="extract" id="extract" value="<%= extract %>" >
  </div>

  <div class="field">
    <label for="image"> image:</label>
    <input type="text" name="image" id="image" value="<%= image %>" >
  </div>

  <div class="field">
    <label for="time"> time:</label>
    <input type="text" name="time" id="time" value="<%= time %>" >
  </div>

  <div class="field">
    <label for="rating"> rating:</label>
    <input type="text" name="rating" id="rating" value="<%= rating %>" >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>

  <div class="field">
    <label for="categories"> categories:</label>
    <input type="text" name="categories" id="categories" value="<%= categories %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Story" />
  </div>

</form>

<a href="#/index">Back</a>