<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Extract:</b>
  <%= extract %>
</p>

<p>
  <b>Image:</b>
  <%= image %>
</p>

<p>
  <b>Time:</b>
  <%= time %>
</p>

<p>
  <b>Rating:</b>
  <%= rating %>
</p>

<p>
  <b>Url:</b>
  <%= url %>
</p>


<a href="#/index">Back</a>