
<div id="story-<%= id %>">
	<a href="<%= url %>"><h2><%= title %></h2></a>
	<a href="<%= url %>"><img src="<%= image %>" /></a>
	<p>
		<%= extract %>
	</p>
	<div class="footer-links">
		<div class="source">
			BBC
		</div>
		<div class="timeago" title="<%= time %>">
	    	<%= time %>
	    </div>
	    <div class="rating" data-toggle="popover" data-content='<a href="#/story/<%= id %>">Show</a><a href="#/story/<%= id %>/edit">Edit</a><a href="#/story/<%= id %>/destroy" class="destroy">Destroy</a>' data-html='true' data-original-title='' title=''>
	    	<%if (rating) { %><%= rating %><%} else {%>0<%}%>
	    </a>
	</div>
</div>