
<div id="story-<%= id %>" class="ind-story">
	<h2><a href="<%= url %>"><%= title %></a></h2>
	<%if (image && (image.indexOf("nytimes.com") == -1)) { %><div class="img-area"><a href="<%= url %>"><img src="<%= image %>" /></a></div><%}%>
	<p>
		<%= extract %>
	</p>
	<div class="footer-links">
		<div class="source">
			<%  if (url) {
				if 		(url.indexOf("cnn.com") != -1) { %>CNN<% }
				else if (url.indexOf("bbc") != -1) { %>BBC<% }
				else if (url.indexOf("nytimes.com") != -1) { %>New York Times<% }
				else if (url.indexOf("theguardian.com") != -1) { %>The Guardian<% }
				else if (url.indexOf("nbcnews.com") != -1) { %>NBC<% }
				else { %>CNN<% } }%>
		</div>
		<div class="timeago" title="<%= time %>">
	    	<%= time %>
	    </div>
	    <div class="rating" data-toggle="popover" data-content='<a href="#/story/<%= id %>">Show</a><a href="#/story/<%= id %>/edit">Edit</a><a href="#/story/<%= id %>/destroy" class="destroy">Destroy</a>' data-html='true' data-original-title='' title=''>
	    	<%if (rating) { %><%= rating %><%} else {%>0<%}%>
	    </a>
	</div>
</div>